#main{
    height: 50vh;
    width: 100%;
    border: 1px solid red;
    overflow-y: scroll;
}
#messagesend{
    /* border: 1px solid red;  */
    line-height: 0.5em;
    text-align: end;
    margin: 10px;
}
#messagerecieve{
    /* border: 1px solid red;   */
    line-height: 0.5em;
    text-align: left;
    margin: 10px;
}
#friends{
    /* border: 1px solid red; */
    margin: 10px;
    padding: 10px;
    width: 100%;
    text-align: left;
    background-color: bisque;
}
#chatArea{
    height: 50vh;
    width: 100%;
    border: 1px solid red;
}
#rv{
    height: 40vh; 
    width:30vw ;
     margin:auto;
      margin-top: 20vh;
}
#a{
    height: 40vh; 
    width:30vw ;
     margin:auto;
      margin-top: 20vh;
}
@media only screen and (max-width: 800px) {
    #a{
        height: 40vh; 
        width:80vw ;
         margin:auto;
          margin-top: 30vh;
    }
    #rv{
        height: 40vh; 
        width:80vw ;
         margin:auto;
          margin-top: 30vh;
    }
  }
#send{
    float: right;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    display:inline;
    margin-right:20px;
    
}
#recieve{
    float: left;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
   font-size: larger;
   display: inline;
   
   margin-left:20px;
}